* {
  font-family: Nunito;
}
.leaflet-container {
  width: 100wh;
  height: 100vh;
}
a.dropdown-item:active {
  color: gray;
  background-color: #e9ecef;
}
#ajouterBorne {
  background-color: #252834;
}
.largeDrop {
  width: 100%;
}
.dropdown-toggle {
  width: 100%;
}
#wilaya {
  text-align: left;
}
#commune {
  text-align: left;
}
.largeDrop.dropdown-menu.show {
  height: 220px;
  overflow-y: scroll;
}
