
@font-face{
  font-family: Nunito;
  src: url('assets/fonts/Nunito/Nunito-Light.ttf') format('truetype');
  font-family: Gotham;
  src: url('assets/fonts/Gotham-Font/Gotham-Light.otf') format('truetype');
}
*{
    font-family: Nunito;
* {
  font-family: Nunito;
}
.leaflet-container {
  width: 100wh;
  height: 100vh;
}

::-webkit-scrollbar {
  width : 5pt;
}

::-webkit-scrollbar-track{
  background:#252834;
}

::-webkit-scrollbar-thumb{
  background-color: #868FAC;
  border-radius: 25pt;
}

.bg-dark{
  background-color: #252834!important;
}

.bg-yellow{
  background-color: #FFCB00!important;
}

.btn-dark{
  background-color: #252834!important;
  color:white!important;
}

.btn-yellow{
  background-color: #FFCB00!important;
  color:white!important;
}

a.dropdown-item:active {
  color: gray;
  background-color: #e9ecef;
}
#ajouterBorne {
  background-color: #252834;
}
.largeDrop {
  width: 100%;
}
.dropdown-toggle {
  width: 100%;
}
#wilaya {
  text-align: left;
}
#commune {
  text-align: left;
}
.largeDrop.dropdown-menu.show {
  height: 220px;
  overflow-y: scroll;
}
